<div class="container">
  <div class="row mt-5">
    
    <div class="col-3">
      <h1 class="display-5">TODOS</h1>
        <a href="/reportes/todos" class="btn btn-secondary col-12 active"   role="button" aria-pressed="true"><h3>Reporte diario</h3></a>
        <a href="/reportes/todos/mes" class="btn btn-secondary col-12 active mt-4"   role="button" aria-pressed="true"><h3>Reporte mensual</h3></a>     
      <form action="/reportes/todos" method="POST">
        <div class="form-group mt-4">
          <textarea name="title" class="form-control" placeholder="Fecha - 1/1/2020"></textarea>
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block" type="submit">
            Buscar por dia
          </button>
        </div>
      </form>
    </div>


    <div class="col-3">
      <h1 class="display-5">Pichincha</h1>
      <a href="/reportes/BcoPichincha" class="btn btn-secondary col-12 active" role="button" aria-pressed="true"><h3>Reporte diario</h3></a>
      <a href="/reportes/BcoPichincha/mes" class="btn btn-secondary col-12 active mt-4"  role="button" aria-pressed="true"><h3>Reporte mensual</h3></a>
      <form action="/reportes/BcoPichincha" method="POST">
        <div class="form-group mt-4">
          <textarea name="title" class="form-control" placeholder="Fecha - 1/1/2020"></textarea>
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block" type="submit">
            Buscar por dia
          </button>
        </div>
      </form>
    </div>




    <div class="col-3">
      <h1 class="display-5">Full- carga</h1>
      <a href="/reportes/Full-carga" class="btn btn-secondary col-12 active" role="button" aria-pressed="true"><h3>Reporte diario</h3></a>
      <a href="/reportes/Full-carga/mes" class="btn btn-secondary col-12 active mt-4"  role="button" aria-pressed="true"><h3>Reportes mensual</h3></a>
      <form action="/reportes/Full-carga" method="POST">
        <div class="form-group mt-4">
          <textarea name="title" class="form-control" placeholder="Fecha - 1/1/2020"></textarea>
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block" type="submit">
            Buscar por dia
          </button>
        </div>
      </form>
    </div>




    <div class="col-3">
      <h1 class="display-5">Guayaquil</h1>
      <a href="/reportes/Guayaquil" class="btn btn-secondary col-12 active" role="button" aria-pressed="true"><h3>Reporte diario</h3></a>
      <a href="/reportes/Guayaquil/mes" class="btn btn-secondary col-12 active mt-4"  role="button" aria-pressed="true"><h3>Reportes mensual</h3></a>
      <form action="" method="POST">
        <div class="form-group mt-4">
          <textarea name="title" class="form-control" placeholder="Fecha - 1/1/2020"></textarea>
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block" type="submit">
            Buscar por dia
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
