<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container">
    <a href="http://192.168.100.218:3000" role="button" class="btn badge-primary col-12"><h3>Ventas</h3></a>

  </div>
</nav>
